<header class="header">
    <h2>Scheduled Meetings</h2>
    <button class="btn btn-primary" (click)="open()">Add Client</button>
</header>
<table class="table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Participants</th>
            <th>Scheduled Time</th>
            <th>Agenda</th>
            <th class="action">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Add your meeting data here -->
        <tr *ngFor="let meeting of meetings">
            <td>{{meeting.title}}</td>
            <td>
                <span class="name" *ngFor="let client of meeting.clientList">{{client.client_name}}</span>
            </td>
            <td>{{meeting.scheduled_time | date:'short'}}</td>
            <td>
                {{meeting.agenda}}
            </td>
            <td class="action">
                <!-- Add your action buttons here -->
                <button class="btn btn-success" (click)="open(meeting)">Edit</button>
                <button class="btn btn-danger delete" (click)="delete(meeting)">Delete</button>
            </td>
        </tr>
        <!-- Add more meeting rows as needed -->
    </tbody>
</table>