.main{
    height: 99vh;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
}

.bold-text {
    font-family: 'Siemens Sans Bold', sans-serif;
    font-size: 7vw;
  }
  
.bold-text-desc {
    font-family: 'Siemens Sans Bold', sans-serif;
    font-size: 3vw;
    margin-top: 82px;
  }